{% extends "base.html" %}

{% block content %}

  <h4 style="text-align: center;">fHDHR Diagnostic Links</h4>

    <div class="rTable center" style="width:50%">
      <div class="rTableHeading">
        <div class="rTableHead">Item</div>
        <div class="rTableHead">HDHR</div>
        <div class="rTableHead">RMG</div>
        <div class="rTableHead">Non-Specific</div>
      </div>

    {% for button_item in button_list %}
      <div class="rTableRow">
        <div class="rTableCell">{{ button_item["label"] }}</div>
        {% if button_item["hdhr"]  %}
        <div class="rTableCell"><button onclick="OpenLink('{{ button_item["hdhr"] }}')">{{ button_item["label"] }}</a></button></div>
        {% else %}
        <div class="rTableCell"></div>
        {% endif %}
        {% if button_item["rmg"]  %}
        <div class="rTableCell"><button onclick="OpenLink('{{ button_item["rmg"] }}')">{{ button_item["label"] }}</a></button></div>
        {% else %}
        <div class="rTableCell"> </div>
        {% endif %}
        {% if button_item["other"]  %}
        <div class="rTableCell"><button onclick="OpenLink('{{ button_item["other"] }}')">{{ button_item["label"] }}</a></button></div>
        {% else %}
         <div class="rTableCell"></div>
        {% endif %}
      </div>
    {% endfor %}
    </div>
{% endblock %}
