{% extends "base.html" %}

{% block content %}

    <h4 style="text-align: center;">fHDHR Settings</h4>

    <h4 style="text-align: center;">Settings will require a manual restart.</h4>

    {% for config_section in list(web_settings_dict.keys()) %}

      {% if config_section == "origin" %}
        <h4 style="text-align: center;">{{ fhdhr.config.dict["main"]["dictpopname"] }}</h4>
      {% else %}
        <h4 style="text-align: center;">{{ config_section }}</h4>
      {% endif %}

    <div class="rTable center" style="width:75%">
      <div class="rTableHeading">
        <div class="rTableHead">Config Name</div>
        <div class="rTableHead">Config Default Value</div>
        <div class="rTableHead">Config Value</div>
        <div class="rTableHead">Update</div>
        <div class="rTableHead">Reset</div>
      </div>

      {% for config_item in list(web_settings_dict[config_section].keys()) %}

      <div class="rTableRow">
        <div class="rTableCell">{{ config_item }}</div>

        <div class="rTableCell">{{ web_settings_dict[config_section][config_item]["value_default"] }}></div>

        <div class="rTableCell">
        <form method="post" action="/api/settings?method=update&redirect=%2Fsettings">
          <input type="hidden" name="config_section" value="{{ config_section }}">
          <input type="hidden" name="config_name" value="{{ config_item }}">
          <input type="hidden" name="config_default" value="{{ web_settings_dict[config_section][config_item]["value_default"] }}">
            {% if web_settings_dict[config_section][config_item]["hide"] %}
              <input type="text" size="50" name="config_value" value="**************">
            {% else %}
              <input type="text" size="50" name="config_value" value="{{ web_settings_dict[config_section][config_item]["value"] }}">
            {% endif %}
        </div>
        <div class="rTableCell">
            <input type="submit" value="Update">
        </form>
        </div>

        <div class="rTableCell">
        <form method="post" action="/api/settings?method=update&redirect=%2Fsettings">
          <input type="hidden" name="config_section" value="{{ config_section }}">
          <input type="hidden" name="config_name" value="{{ config_item }}">
          <input type="hidden" name="config_value" value="{{ web_settings_dict[config_section][config_item]["value_default"] }}">
          <input type="hidden" name="config_default" value="{{ web_settings_dict[config_section][config_item]["value_default"] }}">
            <input type="submit" value="Reset">
        </form>
        </div>

    </div>

      {% endfor %}
      </div>

    {% endfor %}

{% endblock %}
