{% extends "base.html" %}

{% block content %}

    <h4 style="text-align: center;">fHDHR Streams</h4>

    <div class="rTable center" style="width:50%">
      <div class="rTableHeading">
          <div class="rTableHead">Status</div>
          <div class="rTableHead">Channel</div>
          <div class="rTableHead">Method</div>
          <div class="rTableHead">Time Active</div>
          <div class="rTableHead">Total Downloaded</div>
          <div class="rTableHead">Options</div>
          <div class="rTableHead">Action</div>
        </div>

      {% set rowCount = namespace(value=1) %}
      {% for tuner_dict in tuner_list %}
      {% if (rowCount.value % 2) %}
         <div class="rTableRow">
      {% else %}
         <div class="rTableRowAlternate">
      {% endif %}
          <div class="rTableCell">{{ tuner_dict["number"] }}</div>
          <div class="rTableCell">{{ tuner_dict["status"] }}</div>
          {% if tuner_dict["status"] in ["Active", "Acquired"] %}
          <div class="rTableCell">{{ tuner_dict["channel_number"] }}</div>
          {% else %}
          <div class="rTableCell">N/A</div>
          {% endif %}
          {% if tuner_dict["status"] == "Active" %}
          <div class="rTableCell">{{ tuner_dict["method"] }}</div>
          <div class="rTableCell">{{ tuner_dict["play_duration"] }}</div>
          <div class="rTableCell">{{ tuner_dict["downloaded"] }}</div>
          {% else %}
          <div class="rTableCell">N/A</div>
          <div class="rTableCell">N/A</div>
          <div class="rTableCell">N/A</div>
          {% endif %}
          <div class="rTableCell">
              {% if tuner_dict["status"] != "Inactive" %}
                <button onclick="OpenLink('/api/tuners?method=close&tuner={{ tuner_dict["number"] }}&redirect=%2Ftuners')">Close</a></button>
              {% endif %}
              {% if not tuner_scanning and tuner_dict["status"] == "Inactive" %}
                <button onclick="OpenLink('/api/tuners?method=scan&tuner={{ tuner_dict["number"] }}&redirect=%2Ftuners')">Channel Scan</a></button>
              {% endif %}
          </div>
        </div>
      {% endfor %}

{% endblock %}
